/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* NAV BAR ------------------------------------------------------------------- */
header {
    background-color: #494949;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 120px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.search-bar button {
    background-color: #494949;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar button:hover {
    background-color: #8f8f8f;
}

.search-bar button img.search-icon {
    width: 24px;
    height: 24px;
}

/* NAV LINKS */
.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.nav-links a:hover {
    color: #9b9b9b;
}

/* DROPDOWN */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 45;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown.show .dropdown-content {
    opacity: 1 !important;
    visibility: visible !important;
}

.dropdown-content p {
    margin: 0;
    padding: 8px 16px;
    color: #333;
    font-size: 16px;
}

.dropdown-content a {
    display: block;
    padding: 10px 16px;
    color: #3483fa;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f0f0f0;
}

/* Estilo para los enlaces con el id 'configButton' */
.dropdown-content a#configButton {
    display: block;
    width: 80%;
    padding: 10px 0;
    color: #333;
    text-align: left;
    font-weight: normal;
    background-color: transparent;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.dropdown-content a#configButton:hover {
    background-color: #f0f0f0;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #e0e0e0;
}

/* Carrito de Compras */
.cart-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.cart-items,
.cart-summary {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Sección de items del carrito */
.cart-items {
    flex: 1 1 60%;
    max-width: 800px;
}

.cart-items h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-details {
    flex-grow: 1;
}

.item-details p {
    margin: 5px 0;
    font-size: 16px;
}

.item-details input {
    width: 60px;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

/* Resumen del pedido */
.cart-summary {
    flex: 1 1 30%;
    max-width: 400px;
}

.cart-summary h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.summary-details p {
    margin: 10px 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
}

.pay-now-button {
    width: 100%;
    padding: 15px;
    background-color: #3483fa;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
}

.pay-now-button:hover {
    background-color: #2968c8;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .cart-container {
        flex-direction: column;
        align-items: center;
    }

    .cart-items,
    .cart-summary {
        width: 100%;
        max-width: none;
    }
}
