/* GLOBAL ------------------------------------------------------------------- */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Cambiado de degradado radial a color de fondo original */
    color: #000000; /* Cambiado el color del texto a negro */
    padding-top: 5%;
}

/* Ajuste del Carrusel de Anuncios ------------------------------------------------------------------- */
.carousel-container-ad {
    width: 80%;
    overflow: hidden;
    z-index: 1;
    margin: 0 auto;
    position: relative;
}

.carousel-container-ad::before,
.carousel-container-ad::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 3;
}

.carousel-container-ad::before {
    left: 0;
    background: linear-gradient(to right, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.carousel-container-ad::after {
    right: 0;
    background: linear-gradient(to left, rgba(245, 245, 245, 1), rgba(245, 245, 245, 0));
}

.ad-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.ad-images img {
    width: 100%;
    margin-right: 20px;
    border-radius: 10px;
}

.carousel-prev-ad,
.carousel-next-ad {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(88, 88, 88, 0.41);
    color: white;
    border: 1px solid rgba(200, 200, 200, 0);
    padding: 5px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.carousel-next-ad {
    right: -2%;
}

.carousel-prev-ad {
    left: -2%;
}

.carousel-prev-ad:hover,
.carousel-next-ad:hover {
    background-color: rgba(221, 221, 221, 0.8);
}

/* CATEGORIAS ------------------------------------------------------------------- */
.categories {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    top: -40px;
    z-index: 2;
}

.category-list a {
    display: inline-block;
    margin: 10px 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.category-list a:hover {
    color: #3483fa;
}

/* PRODUCTOS DESTACADOS ------------------------------------------------------------------- */
.featured-products {
    padding: 20px;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.featured-products h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Contenedor del carrusel */
.carousel-container {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Lista de productos alineada en fila */
.product-list {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Cada producto tiene un ancho fijo */
.product {
    min-width: 16.66%;
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative; /* Para posicionar los botones dentro del producto */
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.product p {
    font-size: 16px;
    margin: 10px 0;
}

.product span {
    font-size: 20px;
    color: #3483fa;
    display: block;
    margin: 10px 0;
}

/* Botón "Agregar al carrito" */
.product .add-to-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product .add-to-cart-button img {
    width: 24px;
    height: 24px;
}

/* Botón "Agregar a favoritos" */
.product .add-to-favourite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px; /* Ajusta la posición para que esté al lado del botón de carrito */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.product .add-to-favourite-button img {
    width: 24px;
    height: 24px;
}

/* Mostrar ambos botones al hacer hover sobre el producto */
.product:hover .add-to-cart-button,
.product:hover .add-to-favourite-button {
    opacity: 1;
}

/* Botones de navegación */
.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.carousel-prev {
    left: 0;
}

.carousel-next {
    right: 0;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Electrónica ------------------------------------------------------------------- */
.electronics {
    padding: 20px;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.electronics h2 {
    text-align: center;
    margin-bottom: 20px;
}

.electronics-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.electronics-list .product {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    height: auto;
    position: relative; /* Para posicionar los botones dentro del producto */
}

.electronics-list .product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.electronics-list .product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.electronics-list .product p {
    font-size: 16px;
    margin: 10px 0;
}

.electronics-list .product span {
    font-size: 18px;
    color: #3483fa;
    display: block;
    margin: 10px 0;
}

/* Botón "Agregar al carrito" para Electrónica */
.electronics-list .product .add-to-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.electronics-list .product .add-to-cart-button img {
    width: 24px;
    height: 24px;
}

.electronics-list .product .add-to-favourite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.electronics-list .product .add-to-favourite-button img {
    width: 24px;
    height: 24px;
}

.electronics-list .product:hover .add-to-cart-button,
.electronics-list .product:hover .add-to-favourite-button {
    opacity: 1;
}

/* MODA --------------------------------------------------------------------- */
.fashion {
    padding: 20px;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.fashion h2 {
    text-align: center;
    margin-bottom: 20px;
}

.fashion-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.fashion-list .product {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    height: auto;
    position: relative; /* Para posicionar los botones dentro del producto */
}

.fashion-list .product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.fashion-list .product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.fashion-list .product p {
    font-size: 16px;
    margin: 10px 0;
}

.fashion-list .product span {
    font-size: 18px;
    color: #3483fa;
    display: block;
    margin: 10px 0;
}

/* Botón "Agregar al carrito" para Moda */
.fashion-list .product .add-to-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fashion-list .product .add-to-cart-button img {
    width: 24px;
    height: 24px;
}

.fashion-list .product .add-to-favourite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.fashion-list .product .add-to-favourite-button img {
    width: 24px;
    height: 24px;
}

.fashion-list .product:hover .add-to-cart-button,
.fashion-list .product:hover .add-to-favourite-button {
    opacity: 1;
}

/* Instrumentos ------------------------------------------------------------------- */
.instruments {
    padding: 20px;
    background-color: #fff;
    width: 70%;
    margin: 20px auto;
    border-radius: 10px;
}

.instruments h2 {
    text-align: center;
    margin-bottom: 20px;
}

.instruments-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.instruments-list .product {
    background-color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    width: 90%;
    height: auto;
    position: relative; /* Para posicionar los botones dentro del producto */
}

.instruments-list .product img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.instruments-list .product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.instruments-list .product p {
    font-size: 16px;
    margin: 10px 0;
}

.instruments-list .product span {
    font-size: 18px;
    color: #3483fa;
    display: block;
    margin: 10px 0;
}

/* Botón "Agregar al carrito" para Instrumentos */
.instruments-list .product .add-to-cart-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.instruments-list .product .add-to-cart-button img {
    width: 24px;
    height: 24px;
}

.instruments-list .product .add-to-favourite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.instruments-list .product .add-to-favourite-button img {
    width: 24px;
    height: 24px;
}

.instruments-list .product:hover .add-to-cart-button,
.instruments-list .product:hover .add-to-favourite-button {
    opacity: 1;
}

/* FOOTER ------------------------------------------------------------------- */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
